<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5p [%t][%c][%X{verticleName}][%X{consumerAddress}] - %m%n)</pattern>
        </encoder>
    </appender>


    <root level="ERROR">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
